@font-face{font-family:neohaowebsitefonts;src:url(../fonts/neohaowebsitefonts.eot?vjg9a5);src:url(../fonts/neohaowebsitefonts.eot?vjg9a5#iefix) format('embedded-opentype'),url(../fonts/neohaowebsitefonts.ttf?vjg9a5) format('truetype'),url(../fonts/neohaowebsitefonts.woff?vjg9a5) format('woff'),url(../fonts/neohaowebsitefonts.svg?vjg9a5#neohaowebsitefonts) format('svg');font-weight:400;font-style:normal}
[class*=" icon-"],[class^=icon-]{font-family:neohaowebsitefonts!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-sw01:before{content:"\e900"}
.icon-sw02:before{content:"\e901"}
.icon-sw03:before{content:"\e902"}
.icon-sw04:before{content:"\e903"}
.icon-sw05:before{content:"\e904"}
.icon-sw06:before{content:"\e905"}
.icon-sw07:before{content:"\e906"}
.icon-sw08:before{content:"\e907"}
.icon-sw09:before{content:"\e908"}
.icon-sw10:before{content:"\e909"}
.icon-sw11:before{content:"\e90a"}
.icon-sw12:before{content:"\e90b"}
.icon-sw13:before{content:"\e90c"}
.icon-sw14:before{content:"\e90d"}
.icon-lang01:before{content:"\e90e"}
.icon-lang02:before{content:"\e90f"}
.icon-lang03:before{content:"\e910"}
.icon-lang04:before{content:"\e911"}
.icon-lang05:before{content:"\e912"}
.icon-lang06:before{content:"\e913"}
.icon-lang07:before{content:"\e914"}
.icon-lang08:before{content:"\e915"}
.icon-fw01:before{content:"\e916"}
.icon-fw02:before{content:"\e917"}
.icon-fw03:before{content:"\e918"}
.icon-app01:before{content:"\e919";position:relative;top:1rem}
.icon-app02:before{content:"\e91a";position:relative;top:1rem}
.icon-app03:before{content:"\e91b";position:relative;top:1rem}
.icon-app04:before{content:"\e91c";position:relative;top:1rem}
.icon-app05:before{content:"\e91d";position:relative;top:1rem}
.icon-app06:before{content:"\e91e";position:relative;top:1rem}
.icon-app07:before{content:"\e91f";position:relative;top:1rem}
.icon-ps01:before{content:"\e920";position:relative;top:1rem}
.icon-ps02:before{content:"\e921";position:relative;top:1rem}
.icon-ps03:before{content:"\e922";position:relative;top:1rem}
.icon-ps04:before{content:"\e923";position:relative;top:1rem}
.icon-ps05:before{content:"\e924";position:relative;top:1rem}
.icon-ps06:before{content:"\e925";position:relative;top:1rem}
.icon-ps07:before{content:"\e926";position:relative;top:1rem}
.icon-ps08:before{content:"\e927";position:relative;top:1rem}